
body, html {
  font-family: 'Montserrat', sans-serif;
}

body{
  background: rgb(229,235,241);
  background: radial-gradient(circle, rgba(229,235,241,0.8225665266106442) 33%, rgba(255,255,255,0.8757878151260504) 85%);
  overflow-x: hidden;
  transition: all 200ms linear;
}
::selection {
  color: #fff;
  background-color: #8167a9;
}
::-moz-selection {
  color: #fff;
  background-color: #8167a9;
}

.container-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0;
  margin-left: 0;
}

#myModal {
  z-index: 99999998;
}


.selectProject  {
  display:flex;
  justify-content: center;
  align-items: center;
  padding:1.4em 0em;
  background:#f4f4f4;
  width:100%;
  color: #c7482e;
}

#slideOutLeft {
  width: 400px;
  position: fixed;
  height: 100vh;
  background: #ffffff;
  top: 0;
  z-index: 99999999;
  left: 0px;
}


#slideOutRight {
  position: fixed;
  z-index: 102;
  right:-700px;
  width:700px;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  z-index:9999;
  margin:0;
  height:100%;
  top:0;
  overflow: auto;
}

.showSlideOut {
  right: 0px !important;
}

#one {
  text-align: center;
  top: 210px;
  position: fixed;
  right: -61px;
  z-index: 99999;
}

.orangeTab {
  background-color: #c7482e;
  color: #ffffff;
  position: fixed;
  right: -1.8rem;
  top: 9rem;
  transform: rotate(-90deg);
  padding: 0.4rem .8rem .8rem .8rem;
  font-size: 15px;
  border-radius: 4px 4px 0px 0px;
  z-index: 100;
  cursor: pointer;
}


#slideOutRight .modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  height: 100vh;
  z-index: 9999999;

}

#slideOutRight .modal-body p {
  margin-bottom:0rem;
}



p.smaller {
  font-size:14px;
  margin-bottom:.5em !important;
}

.slideLeft {
  left:-400px !important;
}


@media(max-width:992px){
  .wrapper{
    width:100%;
  }
}
#skiptocontent {
  padding:6px;
  position: absolute;
  top:-40px;
  left:0px;
  color:white;
  border-right:1px solid white;
  border-bottom:1px solid white;
  border-bottom-right-radius:8px;
  background:#BF1722;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 9999999999999999999999;
}

#skiptocontent:focus {
  position:absolute;
  left:0px;
  top:0px;
  outline-color:transparent;
  -webkit-transition: top .1s ease-in;
  transition: top .1s ease-in;
  z-index: 9999999999999999999999;
}


a:hover {
  color: #07477d;
  text-decoration: none;
}

.content-spacer {
  height:10vh
}

.accordions {
  background: #eef6fc;
  padding-top: .5em;
}

.accordions .panel-header {
  background: #eef6fc
}

.nested{
  background: #deedf8;
  /* padding-bottom:.5rem; */
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0rem 1.25rem 0rem 1.25rem;
}
.card-body a {
  font-size:15px;

}
.card-body:hover h5 a {
  font-size:15px;
  color:#c7482e;
}

.accordions .panel-header:hover h5 a {
  font-size:15px;
  color:#c7482e;

}

h5 a {
  color: #07477d;
  font-size:15px !important;

}

h4 {
  text-align:left;
  color: #07477d;
  font-size: 2.2rem;
  font-weight: 600;
}
ul {
  list-style-type: none;
}

.white {
  background: white;
  -webkit-box-shadow: 0px 0px 119px 6px rgba(222,237,248,1);
  -moz-box-shadow: 0px 0px 119px 6px rgba(222,237,248,1);
  box-shadow: 0px 0px 119px 6px rgba(222,237,248,1);
}


.w80 {
  max-width:80%;
  padding:1rem;
  text-align: left;
}

.accordions a {
  color: #07477d;
  font-size:15px !important;

}

.accordions h5 {
  padding-left:1em;
}

.accordion-items li {
  padding: .25rem 1.25rem .25rem 0rem;
  list-style: none;
}

.mb-0 > a {
  display: block;
  position: relative;
}
.mb-0 > a:after {
  content: "\f078"; /* fa-chevron-down */
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  right: 0;
}
.mb-0 > a[aria-expanded="true"]:after {
  content: "\f077"; /* fa-chevron-up */
  font-family: "Font Awesome 5 Pro";
}

.panel-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

#myModal .modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: center;
  padding: 1rem;
  border-bottom: none;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

#myModal  .modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: center;
  padding:0rem 1rem 1rem 1rem;
  border-top: none;
}

#myModal  .modal-title {
  color: #07477d;
  font-size: 2.2rem;
  font-weight: 600;
  border-bottom: 3px solid #c7482e;
  padding-left: 1em;
  padding-right: 1em;
}

.orange {
  color:#c7482e
}

#myModal  .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem 3rem 0rem 3rem;
}

#myModal  .modal {
  z-index: 999999999;
}

#myModal  .modal-body .fal {
  color: #07477d;
  font-size:36px;
}

.blue.strong {
    color:#07477d;
    font-weight:500;
    font-size:19px;
    margin-bottom:.5em !important;
}

hr.orange {
  background: #c7482e;
  margin-top:0rem;
  margin-bottom: .5rem;
}


hr.black {
  background: black;
  margin-top:0rem;
}


ul.bullet li::before {
  content: "\2022";
  color: #c7482e;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

ul.bullet li {
  color:#07477d;
}

.orangeBubble {
  background: #c7482e;
  color:white;
  font-size:16px;
  padding: .25rem .8rem;
  border-radius: 1rem;
  max-width: 11.5rem;
}

.fileHistory{
  padding-top: 1em;
  padding-left: .5em;
  font-size: 14px;
}

.across{

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display:flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding-top:.5em;
}

#closeThisPlease .fal {
  font-size:32px;
}
button:focus {
    outline: none;
}

a:focus {
    outline: none;
}

#one:focus {
    outline: none;
}

@media (min-width: 1025px) {
  #myModal   .modal-dialog {
    max-width: none;
    width: 45%;
    margin: 30px auto;
    top: 15%;
    max-width:700px;
  }

  #myModal   .modal-header .close {
    display:none;
  }

}

@media (max-width: 1024px) and (min-width:768px) {
  #myModal  .modal-dialog {
    max-width: none;
    width: 90%;
    margin: 30px auto;
    top: 15%;
  }

  #myModal   .modal-header .close {
    display:block;
  }

}
@media (max-width: 767px)  {

  #myModal  .modal-dialog {
    max-width: none;
    width: 100%;
    margin: 0px;
    top: 0%;
  }
  #myModal   .modal-header .close {
    display:block;
  }

}
