@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* look and feel - default */
body {
    background: #fff;
    font-size: 14px;
    font-family: "Open Sans", Arial, Verdana, Trebuchet;
    line-height: 21px;
    overflow-x: auto;
}

.region {
    background: #fff;
}

#w-page {
}

    #w-page h1, #w-page h2, #w-page h3, #w-page h4, #w-page p, #w-page li {
        font-family: "Open Sans", Arial, Verdana, Trebuchet;
    }

#w-leaderboard {
    z-index: 20;
    border-top: 4px solid #1e252f;
}

/* westat logo */
#westatLogo {
    margin: 0;
}

body.no-westat-logo #westatLogo {
    display: none !important;
    visibility: hidden !important;
    height: 0 !important;
    overflow: hidden !important;
}
/* set website max-width */
#w-page .region-inner {
    max-width: 100%;
}

#w-page h2.block-title {
    /*font-size: 25px;
    line-height: 25px;
    margin-bottom: 10px;*/
}
/* site header */
#w-header {
    /*
    background: #313131 url(../images/banner_graphic.png) 85% 0 no-repeat; height:71px;
    box-shadow: 0 -3px 0px #cfcfcf;  border-top: 1px solid #eee; z-index:22;
    */
}

#westat-wrapper {
    width: 100%;
    margin-bottom: 0px;
}

#w-header-wrapper {
    height: 72px;
    display: block;
}

#w-header-left {
    float: left;
    width: 72px;
    height: 72px;
    background-image: url("../images/banner_header_left.jpg");
    background-repeat: no-repeat;
    border-style: none;
    background-position: center left;
}

#w-header-middle {
    float: left;
    /*width: 508px;*/
    min-width: 508px;
    height: 72px;
    vertical-align: bottom;
    border-style: none;
    display:flex;
    align-items: center;
}

#w-header-right {
    float: right;
    width: 422px;
    height: 72px;
    background-image: url("../images/banner_header_right.jpg");
    border-style: none;
    background-position: bottom;
}

.wesdaxlogo {
    width: 220px;
    height: 48px;
}

.westatlogo {
    width: 115px;
    height: 34px;
}

.smallInstruct {
    font-size: small;
    font-style: italic;
    color: #C7482E;
    font-family: "Open Sans", Arial, Verdana, Trebuchet;
}

.loginerror {
    color: #C7482E;
     font-family: "Open Sans", Arial, Verdana, Trebuchet;
}

#w-footer-wrapper {
    /*height: 112px;*/
    display: block;
}


#w-footer-left {
    float: left;
    width: 219px;
    height: 100%;
    border-style: none;
    display: block;
}

#w-footer-logo {
    display: block;
    margin-left: 94px;
    /*margin-top: 22px;*/
    vertical-align: top;
}

#w-footer-middle {
    float: left;
    height: 100%;
    vertical-align: bottom;
    /* margin-left: 56px;*/
    border-style: none;
    display: block;
}

#w-footer-middle-text {
    display: block;
    margin-left: 56px;
    /*margin-top: 22px;*/
    font-family: "Open Sans", Arial, Verdana, Trebuchet;
    /*font-size: 10pt;*/
}

#w-footer-right {
    float: left;
    /*width: 400px;*/
    height: 100%;
    border-style: none;
    display: block;
    /*margin-left: 42px;*/
}

#w-footer-right-text {
    display: block;
    margin-left: 42px;
    /*margin-top: 22px;*/
    font-family: "Open Sans", Arial, Verdana, Trebuchet;
    /*font-size: 10pt;*/
}
/*Public Data Mode new logo style*/

#w-header-logo-container {
    /*padding-top: 50px;
    vertical-align: top;
    padding-left: 8px;*/
}

#w-header-logo {
}

#w-header-text {
    font-family: "Open Sans", Arial, Verdana, Trebuchet;
    color: #07477d;
    font-style: italic;
    font-size: 18pt;
    display: inline-block;
    float: right;
    padding-bottom: 2px;
    /*height: 100%;
    width: 100%;*/
}

.w-header-bottom {
    height: 30px;
    background-image: url(../images/banner_header_bottom.jpg);
    border-style: none;
    background-position: right;
    background-repeat: no-repeat;
    text-align: left;
    margin: 0;
}

#w-navigation.ps-menu-left #top-navigation {
    margin-left: 16.66%;
}

.no-westat-logo #w-header {
    background: #fff;
    padding: 0;
    height: auto;
}

.no-westat-logo .logo {
    vertical-align: top;
}
/* logo block */
#w-page #logo {
    margin-bottom: 0;
}

.no-westat-logo #logo .block-inner {
    margin: 0;
}

#w-page #logo .block-content { /*padding:10px;*/
}

#w-page .slogan {
    font-size: 18px;
    color: #c1f7ff;
    position: relative;
    top: -15px;
    left: -5px;
}
/*.no-westat-logo #w-page .slogan {position:absolute; top:20px; left:60px;}
  .no-westat-logo #w-page .slogan .logo-1 {color:#fff; font-size:30px; padding-right:20px;}
  .no-westat-logo #w-page .slogan .logo-2 {color: #fff; font-size: 16px; font-weight: bold; padding-left: 15px; position: relative; top: -5px;}
  .no-westat-logo #w-page .slogan .logo-3 {display: block; position: relative; left: 210px; top: 14px; font-size: 11px;}*/
.no-westat-logo #w-page .slogan span { /*position: absolute; left: 110px; font-size: 11px; top: 40px;*/
}

/* top navigation */
/*Public Mode Changes*/
/*#w-navigation {background: #313131; border-bottom:4px solid #E89216; z-index:10;}*/
#w-navigation {
    background: #FFFFFF;
    border-bottom: 3pt solid #07477D;
    z-index: 10;
}

    #w-navigation .region-inner {
        color: inherit;
        top: 0px;
        left: 0px;
    }

#top-navigation {
}

#w-navigation a {
    color: inherit;
    text-decoration: none;
}

.slicknav_nav {
    font-size: 13px;
    background: none;
    margin-left: 10px;
}

    .slicknav_nav li {
        margin-bottom: 0;
    }

    .slicknav_nav > li {
        margin: 0;
        margin-left: -4px;
    }

    .slicknav_nav a {
        margin: 0;
        padding: 5px 15px 3px;
    }

/*Public Data Mode*/
/*.slicknav_nav > li > a {border-bottom:4px solid #313131;}*/
slicknav_nav > li > a {
    border-bottom: 5pt solid #FFFFFF;
    color: #07477D;
}

/*Public Data Mode*/
/*.slicknav_nav > li > a:hover,
  .slicknav_nav .slicknav_item:hover {border-bottom:4px solid #E89216; background:none; color:#fff;}*/
.slicknav_nav > li > a:hover,
.slicknav_nav .slicknav_item:hover, .slicknav_nav > li > a.active:hover {
    /*border-bottom: 4pt solid #C7482E;*/
    border-bottom: 3pt solid #07477D;
    background: none;
    color: #fff;
}

/*Public Data Mode
  .slicknav_nav > li > a.active, .slicknav_nav > li > a.active:hover {border-bottom:4px solid #E89216;}*/
.slicknav_nav > li > a.active { /*, .slicknav_nav > li > a.active:hover*/
    border-bottom: 4pt solid #C7482E;
}

.slicknav_nav .slicknav_item {
    margin: auto;
    padding: 5px 15px 3px;
}

/*Public Data Mode
  .slicknav_nav ul a:hover {color:#262626 !important;}*/
.slicknav_nav ul a:hover {
    color: #FFFFFF;
}

#w-navigation #top-navigation .slicknav_nav ul a.active {
    background: #ccc;
    color: #313131;
}

#top-navigation .slicknav_collapsed .slicknav_arrow:after {
    content: '\25be';
    font-size: 20px;
    position: relative;
    top: 3px;
}

#top-navigation .slicknav_open .slicknav_arrow:after {
    content: '\25b4';
    font-size: 20px;
    position: relative;
    top: 3px;
}

#top-navigation .slicknav_nav .slicknav_arrow {
    margin: 0;
}

#top-navigation .slicknav_nav ul {
    top: 36px;
}

/* Breadcrumb */
#breadcrumb {
    margin-bottom: 10px;
    font-size: 10pt;
    font-family: "Open Sans", Arial, Verdana, Trebuchet;
    color: #1F1D23;
    margin-top: 7px;
    vertical-align: top;
}

    #breadcrumb .breadcrumb li {
        float: left;
        vertical-align: top;
    }

        #breadcrumb .breadcrumb li .brArrow {
            padding: 0 4px;
            position: relative;
            top: -2px;
            color: #1F1D23;
            vertical-align: top;
        }

        #breadcrumb .breadcrumb li a {
            text-decoration: none;
            color: #1F1D23;
            vertical-align: top;
        }

/* left navigation */
body.no_left_nav #ProjectsMenu,
body.no_left_nav #left-navigation {
    display: none !important;
    visibility: hidden !important;
    height: 0 !important;
    overflow: hidden !important;
}

body.no_left_nav #mainArea, body.no_left_nav #mainArea.ten {
    width: 100% !important;
}

#left-navigation {
    margin-bottom: 0;
}

    #left-navigation .block-inner {
        background: #f5f5f5;
        padding-top: 20px;
        box-shadow: -10px 0 10px -2px #ccc inset;
        margin: 0;
    }

.block-inner2 {
    padding-top: 20px;
    box-shadow: -10px 0 10px -2px #ccc inset;
    margin: 0;
}

#left-navigation .menu {
    display: none;
    font-family: "Open Sans", Arial, Verdana, Trebuchet;
    font-weight: bold;
}

#w-content #left-navigation .block-content {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
}

#left-navigation .slicknav_nav {
    text-align: left;
    margin: 0;
    display: block !important;
     font-family: "Open Sans", Arial, Verdana, Trebuchet;
    font-weight: 600;
}

    #left-navigation .slicknav_nav ul {
        position: relative;
        width: auto;
        background: #e0e0e0;
        margin: 0;
        box-shadow: -10px 0 10px -2px #bbb inset;
    }

    /*Public Data Mode Changes
   #left-navigation .slicknav_nav a {color:#333; padding-left:0; border:0;}*/
    #left-navigation .slicknav_nav a {
        color: #07477d;
        padding-left: 0;
        border: 0;
    }

        /*Public Data Mode Changes
  #left-navigation .slicknav_nav a:hover,
  #left-navigation .slicknav_nav a.active {box-shadow: -10px 0 10px -2px #aaa inset; background: #ccc;}*/
        #left-navigation .slicknav_nav a:hover,
        #left-navigation .slicknav_nav a.active {
            background: #C7482E;
            color: #FFFFFF;
        }


    #left-navigation .slicknav_nav > li > a {
        padding: 5px 10px;
    }

        #left-navigation .slicknav_nav > li > a > a,
        /*Public Data Mode Changes
  #left-navigation .slicknav_nav > li > a > a:hover {background:none; box-shadow:none;}*/
        #left-navigation .slicknav_nav > li > a > a:hover {
            background: #C7482E;
            color: #FFFFFF;
        }

    #left-navigation .slicknav_nav li {
        display: block;
        clear: both;
        margin: 0;
        font-size: 12px;
        border-bottom: 1px solid #fff;
    }

    #left-navigation .slicknav_nav ul li > a {
        padding-left: 15px;
    }

    #left-navigation .slicknav_nav ul ul li > a {
        padding-left: 25px;
        color: #FFFFFF;
        background: #6D6C70;
    }

    #left-navigation .slicknav_nav ul ul ul li > a {
        padding-left: 35px;
    }

    #left-navigation .slicknav_nav ul ul ul ul li > a {
        padding-left: 45px;
    }


/*#left-navigation .slicknav_collapsed > a > .slicknav_arrow:after {content:'\25BA'; font-size:12px; font-weight:bold;color: yellow}
  #left-navigation .slicknav_open > a > .slicknav_arrow:after {content:'\25BC'; font-size:12px; font-weight:bold;color: green}*/

/*Public Data Mode Changes for Vertical Menus Arrows */

#left-navigation .slicknav_collapsed > a > .slicknav_arrow:after {
    content: '\003E';
    /*   content: url(../Images/chevron_blue.svg);*/
    width: 9px;
    height: 15px;
    display: inline;
    float: none;
}

#left-navigation .slicknav_open > a > .slicknav_arrow:after {
    /*background: url(../Images/chevron_white.svg) repeat-x;*/
    content: '\2228';
    font-size: 12px;
    font-weight: bolder;
}


#left-navigation .slicknav_open > a {
    font-weight: bold;
}

#left-navigation .project-title {
    padding-left: 10px;
    font-size: 18px;
    line-height: 22px;
}

#left-navigation .slicknav_btn {
    display: none !important;
}

#ProjectsMenu {
    position: absolute;
    left: 0;
    top: -37px;
    z-index: 10;
    width: 30px;
}

    #ProjectsMenu.block .block-inner {
        margin: 0;
    }

#w-content.leftnav_closed #left-navigation {
    display: none !important;
}

#top-navigation {
    margin-left: 10px;
}

/*Public Data Mode (Sub Menus)
  #left-navigation .slicknav_nav ul > li > ul {background: #E1F0F6;}*/
#left-navigation .slicknav_nav ul > li > ul {
    background: #6D6C70;
    color: #FFFFFF;
}

    /*Public Data Mode
  #left-navigation .slicknav_nav ul > li > ul ul {background:#f2f2f2;}*/
    #left-navigation .slicknav_nav ul > li > ul ul {
        background: #6D6C70;
        color: #FFFFFF;
    }

.projects_btn span { /*display:none;*/
}

.emptyblock {
    width: 5px;
    height: 5px;
    display: block;
}

.projects_btn:after {
    /*Public Data Mode Changes*/
    /* content: "\25c0";*/
    background: url(../images/chevron_orange.svg) no-repeat;
    width: 9px;
    height: 15px;
    /* overflow: visible;*/
    color: #64DAF4;
    visibility: visible;
    text-indent: 0;
    position: absolute;
    /*bottom: -3px;
    left: 0;*/
    /*border-radius: 0 4px 4px 0;*/
    /*background: #222;*/
    /*padding: 4px 0 0 10px;*/
    bottom: 8px;
    transform: scaleX(-1);
}

.svg {
}

#w-content.leftnav_closed .projects_btn:after {
    content: "\25b6";
}

#w-content.leftnav_closed #mainArea.ten {
    width: 100%;
}

#ProjectsMenu .projects_btn {
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: none;
    position: relative;
    display: block;
    vertical-align: middle;
    padding: 0.438em 0.625em 0.438em 0.625em;
    line-height: 1.125em;
    cursor: pointer;
    float: left;
    text-indent: -9999px;
    top: 0px;
    left: 1px;
}

#ProjectsMenu .slicknav_menutxt {
    color: #FFF;
    font-weight: bold;
    /*text-shadow: 0 1px 3px #000;*/
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    line-height: 1.188em;
    float: left;
}

#ProjectsMenu .slicknav_icon {
    float: left;
    margin: 0.188em 0 0 0.438em;
}

#ProjectsMenu .slicknav_icon-bar {
    background-color: #f5f5f5;
    display: block;
    width: 1.125em;
    height: 0.125em;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.projects_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.178em;
}
/* w-content */
#w-content {
    z-index: 8;
    min-height: calc(100vh - 218px);
}
    /*Public Data Mode Changes*/
    /*#w-content .page-title {border-bottom:4px solid #E89216; font-size:22px;}*/
    #w-content .page-title {
        border-bottom: 1px solid #C7482E;
        font-size: 20pt;
        color: #07477D;
        font-weight: lighter;
    }

.w-blue {
    border: 1px solid #CBDBE8;
    padding: 10px;
}
/* blocks */
#w-content h2.block-title {
    font-size: 18px;
    line-height: 25px;
}
/* #w-content .block-content {
    padding:10px;
  }
  #mainArea .block-content {padding:0;}*/
/* sample table */
#w-page .table1 th {
    font-weight: bold;
    color: #5d5b5b;
}

#w-page .table1 td {
    padding: 7px 10px;
    font-weight: bold;
}

#w-page .alternate-color tr.odd {
    background: #E1F0F6;
}

#w-page .table1 tr.even {
}

#w-page .table1 .tableCol2, #w-page .table1 .tableCol3 {
    text-align: center;
    width: 15%;
}

#w-page .table1 .tableCheckBox {
    display: block;
    margin: auto;
}

#w-page .tableAction {
    /*public data mode changes on button style with orange and hoover of blue*/
    text-align: center;
    text-decoration: none;
   /* border-radius: 4px;*/
    font-weight: normal;
    color: #FFFFFF;
    /* background: #464647;*/
    background-color: #C7482E;/*#C8391A;*/
    padding: 2px 5%;
    margin: auto;
    width: 50px;
    display: block;
    font-family: "Open Sans", Arial, Verdana, Trebuchet;
    font-weight: bold;
}

    #w-page .tableAction:hover {
        /*background: #646466;*/
        background-color: #07477D;
        color: #FFFFFF;
         font-family: "Open Sans", Arial, Verdana, Trebuchet;
        font-weight: bold;
        text-decoration: none;
    }

}


#w-content .ps-nested > .block-inner > .block-content,
#w-content-bottom .ps-nested > .block-inner > .block-content {
    border: 0;
}


#w-content a {
    text-decoration: none;
    color: #C7482E; /*orange*/
    font-weight: 600;
}

#mainContent {
    padding-left: 25px;
}

#breadcrumb {
    padding-left: 25px;
}

#mainContent a:hover {
    text-decoration: underline;
    color: #07477D; /*blue*/
}

#optionalQueryTabs a {
    text-decoration: none;
    color: #FFFFFF;
}

#queryTabs a {
    text-decoration: none;
    color: #FFFFFF;
}


#topicsBtn a {
    text-decoration: none;
    color: #FFFFFF;
}

#topicsBtn.first.activeTab a {
    text-decoration: none;
    color: #07477D;
}

#topicsBtn.activeTab a {
    text-decoration: none;
    color: #07477D;
}

#mainArea.block {
    margin-bottom: 0;
    top: -1px;
    left: 0px;
}

#mainArea > .block-inner {
    margin: 0;
}

    #mainArea > .block-inner > .block-content {
        padding: 0 5px;
    }

#w-content .form-field {
    background: #fff; /*border:1px solid #CBDBE8; padding:10px; margin:0 0 20px;*/
}

input[type="text"], input[type="password"], input[type="email"], textarea, select {
}

.style-1 {
    border-top: 2px solid #3d3d3d;
}

    .style-1 > .block-inner {
        background: #E1F0F6;
        border-top: 2px solid #fff;
        padding: 10px 30px;
    }

/* query tabs */
.region .queryPage {
    background: url(../images/top_grad.png) repeat-x;
}

/*public data mode*/
#mainArea > .block-inner {
    margin-left: 44px;
}

#mainArea.queryPage > .block-inner > .block-content {
    padding: 0;
}

#mainArea.queryPage #mainContent > .block-inner {
    margin: 0;
}

#mainArea.queryPage .page-title {
    margin-left: 10px;
    margin-right: 10px;
}

.region #Tabs.block {
    margin-bottom: 0;
    font-size: 85%;
}

    .region #Tabs.block .block-inner {
        margin: 0;
    }

.region #Tabs ul {
    float: left;
}

    .region #Tabs ul ul {
        margin: 0;
    }

.queryTab li {
    float: left;
    padding: 0;
    margin: 0;
    border: 0;
}

#queryTabs.queryTab > li {
    padding-top: 18px;
    position: relative;
}

.queryTab li a {
    margin: 0 1px;
    padding: 3px 10px;
    background: url(../images/tab_grad_2.png) repeat-x;
    color: #fff;
    display: block;
    margin-right: 15px;
    border: 1px solid #fff;
    border-bottom: 0;
    text-decoration: none;
}

#resultTabs.queryTab li a {
    background: url(../images/results_nav_btn_off.png) repeat-x;
}

    #resultTabs.queryTab li a.offBtn {
        background: url(../images/tab_grad_2.png) repeat-x;
    }

#optionalQueryTabs .queryTab li a {
    margin: 0 1px;
}

.queryTab li.first a {
    border-left: 0;
    margin-left: 0;
}

.queryTab li.notReady a {
    background: url(../images/tab_grayed_out_grad.png) repeat-x;
    color: #fff;
}

.queryTab li.activeTab a {
    background: #e1f0f6;
    border-bottom: 1px solid #e1f0f6;
    margin-bottom: -1px;
    position: relative;
    z-index: 1;
    color: #333;
}

#optionalQueryTabs .queryTab li.activeTab a {
    margin-bottom: -1px;
}

#optionalQueryTabs h3 {
    font-size: inherit;
    text-align: center;
    margin-bottom: 0;
    line-height: inherit;
    top: 0px;
    width: 100%;
    position: absolute;
}

#optionalQueryTabs {
    background: url(../images/group-tab_optional_grad.png);
    background-size: contain;
    text-align: center;
    padding: 0 1px;
    border: 1px solid #fff;
    border-bottom: 0;
    margin-right: 15px;
    margin-bottom: -1px;
}

/*#optionalQueryTabs li a {margin:0 1px; padding:3px 10px; background:url(../images/tab_grad_2.png) repeat-x; color:#fff; height:auto;}*/


/*.queryTab li a {background:url(../images/tab_grad_2.png) repeat-x; color:#fff; display:block; padding:3px 10px; margin-right:15px; border:1px solid #fff; border-bottom:0; text-decoration:none; height:auto;}
  .queryTab li.first a {border-left:0;}
  .queryTab li.activeTab a {background: #e1f0f6; border-bottom:1px solid #e1f0f6; margin-bottom: -1px; position: relative; z-index: 1;}*/
.queryTab li.ready a { /*background:url(../images/tab_grad_1.png) repeat-x; color:#fff;*/
}
/*.queryTab li.notReady a {background:url(../images/tab_grayed_out_grad.png) repeat-x; color:#fff;}
  .queryBody > .block-inner > .block-title {
    background: #e1f0f6; padding:15px 10px; border:1px solid #fff; margin-left:-10px;
    margin-right:-10px; box-shadow: 0 5px 10px -3px #666; min-height:27px; border-right:0; border-left:0;
  }*/



/* query tool navigation */
.queryNav .query_item {
    border-bottom: 1px solid #fff;
    padding: 5px 10px;
}

.queryNav .delete {
    float: right;
    width: 30%;
    text-align: center;
}

.queryNav .query_item_title {
    width: 70%;
    float: left;
}

.queryNav .delete a {
    display: block;
    width: 13px;
    height: 100%;
    background: url(../images/queryDel.png) 0 50% no-repeat;
    text-indent: -9999px;
    margin: 0 auto;
}

    .queryNav .delete a:hover {
        opacity: 0.8;
        filter: alpha(opacity=80);
    }

.queryNav #new_query {
    padding: 0 10px;
}

.queryNav h3, .queryNav h4 {
    font-size: inherit;
    padding: 15px 10px 0;
    margin: 0;
}

.queryNav h3 {
    font-weight: bold;
}

.queryNav #new_query a {
    background: url(../images/nav_grey_fade.jpg) repeat-x;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 85%;
}

    .queryNav #new_query a:hover {
        opacity: 0.8;
        filter: alpha(opacity=80);
    }

 .queryNav .statOptions_red
{
    color: #C7482E;
}

 .queryNav h4
 {
    line-height: 20px;
}
label {
    display: inline;
    font-size: inherit;
    font-weight: inherit;
}

.imgAfter {
}

.green .r-tabs .r-tabs-nav .r-tabs-anchor {
    background: #378537;
}

.green .r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
    color: #378537;
    background-color: #fff;
}

.blue .subTitle {
    color: #4c7be0;
    margin-bottom: 5px;
}

.yellow .subTitle {
    color: #F1BB2F;
    margin-bottom: 5px;
}

.red .subTitle {
    color: #B45771;
    margin-bottom: 5px;
}

.green .subTitle {
    color: #378537;
    margin-bottom: 5px;
}
/*  #ps-accordion-1, .w-tablet-portrait #ps-portrait-accordion-1 {border-bottom:0;}
  #ps-accordion-1 .ps-accordion-head, .w-tablet-portrait #ps-portrait-accordion-1 .ps-accordion-head {color:#4c7be0; font-weight:normal; border:0; border-bottom:1px solid #4c7be0; background: url(../images/arrow-square.gif) no-repeat 10px -51px; padding: 7px 15px 7px 35px;}
  #ps-accordion-1 .ps-accordion-head:hover, .w-tablet-portrait #ps-portrait-accordion-1 .ps-accordion-head:hover {background:rgba(76, 123, 224, 0.26) url(../images/arrow-square.gif) no-repeat 10px -51px;}
  #ps-accordion-1 .ps-accordion-head.active, .w-tablet-portrait #ps-portrait-accordion-1 .ps-accordion-head.active {background-position: 10px 5px;}
  #ps-accordion-1 .ps-accordion-body, .w-tablet-portrait #ps-portrait-accordion-1 .ps-accordion-body {
    background: none;
    margin: 0;
    padding: 10px 15px 20px;
    border-left: solid 1px #4c7be0;
    border-right: solid 1px #4c7be0;
    border-right: solid 1px #4c7be0;
  }*/

#copyright {
    background: #262626;
}

    #copyright .block-content {
        padding: 20px;
        color: #ccc;
    }

        #copyright .block-content a {
            color: #f2f2f2;
        }



/* footer */
/*Public Data Mode*/
/*
#w-footer {background:#2C2D30 url(../images/footer_bg.png) repeat-x; color:#fff; font-size:90%; line-height:20px;
    top: 0px;
    left: 0px;
}
*/

#w-footer {
    background: #07477d;
    color: #ffffff;
    font-size: 90%;
    line-height: 20px;
    font-family: "Open Sans", Arial, Verdana, Trebuchet;
   /* top: 0px;*/
    left: 0;
    bottom: 0;
     position: relative;
    padding: 18px 0px;
}



    #w-footer .region-inner {
        padding: 20px 40px;
    }

    #w-footer .block {
        margin-bottom: 0;
    }

    #w-footer a {
        color: #fff;
        text-decoration: underline;
    }

        #w-footer a:hover { /*text-decoration: underline;*/
        }

    #w-footer ul li {
        float: left;
        margin-right: 10px;
    }

    #w-footer .facebook a {
        display: block;
        width: 30px;
        height: 30px;
        text-indent: -9999px;
        background: url(../images/fb_icon.png) no-repeat;
    }

    #w-footer .linkedin a {
        display: block;
        width: 30px;
        height: 30px;
        text-indent: -9999px;
        background: url(../images/ln_icon.png) no-repeat;
    }

/* Accordion
========================================= */
[id^="ps-accordion"], .w-tablet-portrait [id^="ps-portrait-accordion"], .w-phone-portrait [id^="ps-phone-accordion"], .w-phone-landscape [id^="ps-phone-accordion"] {
    /*width: 480px;
    border-bottom: solid 1px #c4c4c4;*/
    position: relative;
}

    [id^="ps-accordion"] .ps-accordion-head,
    .w-tablet-portrait [id^="ps-portrait-accordion"] .ps-accordion-head,
    .w-phone-portrait [id^="ps-phone-accordion"] .ps-accordion-head,
    .w-phone-landscape [id^="ps-phone-accordion"] .ps-accordion-head,
    .w-tablet-portrait [id^="ps-mobile-accordion"] .ps-accordion-head,
    .w-phone-portrait [id^="ps-mobile-accordion"] .ps-accordion-head,
    .w-phone-landscape [id^="ps-mobile-accordion"] .ps-accordion-head {
        background: #E3EFF9 url(../images/arrow_grey_dark.png) no-repeat 99% 10px;
        background-position: 99% 10px;
        padding: 7px 15px;
        margin: 0;
        font-size: inherit;
        font-weight: normal;
        /*border: solid 1px #c4c4c4;*/
        border: 0;
        border-bottom: 1px solid #CBDBE8;
        border-top: 1px solid #fff;
        cursor: pointer;
        line-height: 22px;
    }

.ps-accordion-head > a {
    display: block;
    float: left;
    width: 10%;
}

.ps-accordion-head > p {
    width: 85%;
    float: left;
    margin: 0;
    margin-left: 10%;
}

[id^="ps-accordion"] .select-topic {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    background: url(../images/check_mark_grey.png) 50% 50% no-repeat;
    height: 25px;
    text-indent: -9999px;
    z-index: 10;
    width: 40px;
}

    [id^="ps-accordion"] .select-topic:hover {
        background: url(../images/check_mark_green.png) 50% 50% no-repeat;
    }

[id^="ps-accordion"] .ps-accordion-head:hover,
.w-tablet-portrait [id^="ps-portrait-accordion"] .ps-accordion-head:hover,
.w-phone-portrait [id^="ps-phone-accordion"] .ps-accordion-head:hover,
.w-phone-landscape [id^="ps-phone-accordion"] .ps-accordion-head:hover,
.w-tablet-portrait [id^="ps-mobile-accordion"] .ps-accordion-head:hover,
.w-phone-portrait [id^="ps-mobile-accordion"] .ps-accordion-head:hover,
.w-phone-landscape [id^="ps-mobile-accordion"] .ps-accordion-head:hover {
    background-color: #f2f2f2;
}

[id^="ps-accordion"] .ps-accordion-head.ui-state-active,
.w-tablet-portrait [id^="ps-portrait-accordion"] .ps-accordion-head.ui-state-active,
.w-phone-portrait [id^="ps-phone-accordion"] .ps-accordion-head.ui-state-active,
.w-phone-landscape [id^="ps-phone-accordion"] .ps-accordion-head.ui-state-active,
.w-tablet-portrait [id^="ps-mobile-accordion"] .ps-accordion-head.ui-state-active,
.w-phone-portrait [id^="ps-mobile-accordion"] .ps-accordion-head.ui-state-active,
.w-phone-landscape [id^="ps-mobile-accordion"] .ps-accordion-head.ui-state-active {
    background: #e1f0f6 url(../images/arrow_green_grey.png) no-repeat 99% 10px;
    background-position: 99% 10px;
    border-bottom: 1px solid #CBDBE8;
}

[id^="ps-accordion"] .ps-accordion-body,
.w-tablet-portrait [id^="ps-portrait-accordion"] .ps-accordion-body,
.w-phone-portrait [id^="ps-phone-accordion"] .ps-accordion-body,
.w-phone-landscape [id^="ps-phone-accordion"] .ps-accordion-body,
.w-tablet-portrait [id^="ps-mobile-accordion"] .ps-accordion-body,
.w-phone-portrait [id^="ps-mobile-accordion"] .ps-accordion-body,
.w-phone-landscape [id^="ps-mobile-accordion"] .ps-accordion-body {
    background: none;
    border: 0;
}

.accordion-item .block-content { /*border: 1px solid #CBDBE8; padding: 10px;*/
}

[id^="ps-accordion"] .accordion-inner {
    position: relative;
}

.videoWrapper {
    background: #f2f2f2;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
}

.pp_content:focus, .pp_content :focus {
    border: 2px solid #ff0000;
}

.tabsToggle:before {
    content: "\25bc";
    position: absolute;
    top: 10%;
    left: -3px;
    font-size: 20px;
    color: #64DAF4;
}

.tabsToggle {
    display: none;
    text-decoration: none;
    text-align: left;
    position: absolute;
    right: -78px;
    z-index: 10;
    top: 0;
    padding: 5px 0 0 25px;
    height: 40px;
}

    .tabsToggle.act:before {
        content: "\25b2";
        position: absolute;
        top: 10%;
        left: 0;
        font-size: 20px;
        color: #64DAF4;
    }

.hidden {
    display: none;
}


@media only screen and (max-width: 1028px) {
    #Tabs.twelve {
        width: 300px;
        position: relative;
        z-index: 10;
    }

        #Tabs.twelve ul {
            margin: 0 !important;
            padding: 0; /*display:none;*/
            float: none;
        }

            #Tabs.twelve ul li {
                display: none;
            }

                #Tabs.twelve ul li.activeTab {
                    display: block;
                }

        #Tabs.twelve .actContent ul li {
            display: block;
        }

        #Tabs.twelve .activeList /*, #Tabs.twelve .actContent ul*/ {
            display: block;
            position: relative;
            top: -17px;
        }

        #Tabs.twelve .actContent .activeList {
            top: 0;
        }

        #Tabs.twelve li {
            float: none;
            display: block;
        }

            #Tabs.twelve li a {
                margin: 0;
                height: auto;
            }

    .region .block.twelve.queryBody { /*width:80%; float:left;*/
    }

        .region .block.twelve.queryBody.queryBodyFull {
            width: 100%;
        }

    #queryTabs.queryTab > li {
        padding-top: 0;
    }

    .queryTab li a {
        padding: 5px 10px;
    }

    #optionalQueryTabs h3 {
        position: relative;
    }

    #Tabs.twelve ul#optionalQueryTabs {
        padding: 0 5px;
    }

    #optionalQueryTabs {
        margin-right: 0;
        padding: 0 5px;
    }

        #optionalQueryTabs li a {
            padding-bottom: 3px;
        }

    .queryPage #mainContent > .block-inner > .block-content {
        position: relative;
    }

    .region #Tabs.block .block-inner {
        background: #e1f0f6;
        padding-top: 30px; /*border-top:1px solid #fff;*/
        position: relative;
        top: 1px;
    }

    .tabsToggle {
        display: block;
    }

    #w-footer {
        position: relative;
        z-index: 30;
    }

    #Tabs .block-content {
        position: absolute;
        width: 100%;
        top: 0;
    }

    .activeList { /*position:absolute; top:0; left:0; width:100%;*/
    }

    .actContent .activeList {
        position: relative;
    }

    #Tabs.twelve .activeList li {
        display: none;
    }

        #Tabs.twelve .activeList li.activeTab, #Tabs.twelve .actContent .activeList li {
            display: block;
        }
}
/* Look desktop only */
@media only screen and (min-width: 1025px) {
}
/* Look tablets landscape*/
@media only screen and (min-width:769px) and (max-width:1024px) {
    .topic_col {
        float: left;
        max-width: 40%;
        width: 40%;
        margin-right: 2%;
    }
}

@media only screen and (min-width:581px) and (max-width:768px) {
    #w-content.region .block.one, #w-content.region .block.two, #w-content.region .block.three,
    #w-content.region .block.four, #w-content.region .block.five, #w-content.region .block.six,
    #w-content.region .block.seven, #w-content.region .block.eight, #w-content.region .block.nine,
    #w-content.region .block.ten, #w-content.region .block.eleven {
        width: 100%;
    }

    #w-content.region #ProjectsMenu {
        width: 30px;
    }
}
/* Look tablets portrait*/
@media only screen and (max-width:768px) {
    #w-page .slogan {
        display: block;
    }

    #w-navigation.ps-menu-left #top-navigation,
    #w-navigation.ps-menu-left #top-navigation .slicknav_menu,
    #w-navigation.ps-menu-left #top-navigation .slicknav_btn {
        float: right;
    }

    #left-navigation {
        position: absolute;
        z-index: 20;
        width: 100%;
        top: 0;
        left: 0;
    }

        #left-navigation .block-inner {
            margin: 0;
        }

    #w-content #mainArea.ten {
        width: 100%;
    }

    #left-navigation .slicknav_nav {
        width: 100%;
        font-family: "Open Sans", Arial, Verdana, Trebuchet;
        font-color: black;
    }

    #top-navigation .slicknav_nav ul {
        top: 0px;
    }
    /*Public Data Mode Changes*/
    /*#top-navigation .slicknav_nav > li > a {border-bottom:4px solid #313131;}*/
    #top-navigation .slicknav_nav > li > a {
        border-bottom: 4px solid #FFFFFF;
        color: red;
    }

        #top-navigation .slicknav_nav > li > a:hover,
        /*Public Data Mode Changes*/
        /*#top-navigation .slicknav_nav .slicknav_item:hover {border-bottom:4px solid #313131; background:#ccc; color:#222;}*/
        #top-navigation .slicknav_nav .slicknav_item:hover {
            border-bottom: 4px solid #FFFFFF;
            background: #FFFFFF;
            color: #FFFFFF;
        }
    /*Public Data Mode Changes*/
    /*#top-navigation .slicknav_nav li a.active, .slicknav_nav li a.active:hover {border-bottom: 4px solid #E89216;}*/
    #top-navigation .slicknav_nav li a.active, .slicknav_nav li a.active:hover {
        border-bottom: 5pt solid #C7482E;
    }

    .topic_col {
        float: none;
        max-width: 100%;
    }
}

@media only screen and (min-width:769px) {
    #left-navigation {
        display: block;
    }

    #mainArea > .block-inner > .block-content {
        min-height: 500px;
    }
}
/* Look phone landscape*/
@media only screen and (min-width: 321px) and (max-width: 580px) {
    #w-content.region .block.one, #w-content.region .block.two, #w-content.region .block.three {
        width: 100%;
    }

    #w-content.region #ProjectsMenu.block.one {
        width: 30px;
    }

    #left-navigation {
        position: absolute;
        z-index: 20;
        width: 100%;
    }
}
/* Look phone portrait*/
@media only screen and (max-width:320px) {
}
/* all phones */
@media only screen and (max-width:580px) {
    #ProjectsMenu {
        width: 30px;
    }

    #w-header {
        background: #313131;
    }

    #w-navigation.ps-menu-left #top-navigation .slicknav_menu {
        float: none;
    }

        #w-navigation.ps-menu-left #top-navigation .slicknav_menu .slicknav_nav {
            width: auto;
            margin-left: 0;
        }
}

@media only screen and (max-width:980px) {
    .topics_col2 {
        width: 80%;
    }

    #topic_content_header_title, .topics_col2_sub1 {
        max-width: 70% !important;
    }
}
/* from old template */
#w-content #currentYear #recentYearFlag, #w-content #currentYear #recentYearApply, #w-content #currentYear #recentYearQMark, #w-content #dataYears #suveryYearApply {
    float: left;
    padding-right: 10px;
}

#w-content #currentYear #recentYearApply, #w-content #currentYear #recentYearQMark {
    padding-top: 5px;
}

.headerForm {
    border-bottom: 1px solid #CBDBE8;
    margin-bottom: 20px;
}

img.question-mark {
    width: 16px;
    height: 17px;
    border: 0;
    margin-left: 4px;
    position: relative;
    top: 2px;
}

.titleBlock .block-inner {
    background: #e1f0f6;
    padding: 20px 10px 0;
    border: 1px solid #fff;
    margin-left: -10px;
    margin-right: -10px;
    box-shadow: 0 5px 10px -3px #666;
    min-height: 27px;
    border-right: 0;
    border-left: 0;
}

.titleBlock .block-title {
    float: left;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #000;
}

#search {
    float: left;
    width: 250px;
    margin-right: 20px;
}

    #search .searchTxt {
        width: 175px;
        padding: 3px 4px;
        float: left;
        margin-right: 5px;
    }

#w-content fieldset legend {
    font-size: 16px;
    line-height: 25px;
}

#topic_mode, #topic_mode_legend, #topic_mode_option {
    float: left;
}

    #topic_mode_option ul {
        padding-left: 10px;
    }

        #topic_mode_option ul li {
            display: inline-block;
            line-height: inherit;
            margin-bottom: 0;
        }

.topicBrowse legend {
    float: left;
    padding-right: 10px;
}

.topicBrowse a.browse-topic {
    float: left;
}

#collapse_menu {
    display: block;
    clear: both;
    margin-top: 20px;
}

    #collapse_menu li, .treeMenu ul li span {
        display: block;
        clear: both;
        padding: 0;
        margin: 0;
    }

        .treeMenu ul li span a {
            display: block;
            padding: 5px 10px 5px 35px;
            background-image: url(../images/treeSplit.png);
            background-repeat: no-repeat;
            background-position: 0 -1px;
            cursor: pointer;
            border: 2px solid transparent;
            text-decoration: none;
        }

            .treeMenu ul li span a:hover {
                background: rgba(242,242,242,0.44) url(../images/treeSplit.png);
                background-repeat: no-repeat;
                background-position: 0 -1px;
            }

        .treeMenu ul li span.opened a {
            background-position: 0 -63px;
        }

.topic_col {
    float: left;
    max-width: 22%;
    margin-right: 2%;
}

.delIcon {
    width: 13px;
    height: 13px;
}

.clearBlock {
    display: block;
    clear: both;
}

.topic_col_header, .topics_col1 {
    float: left;
    text-align: center;
    padding: 10px;
    width: 60px;
}

    .topics_col1 a {
        display: block;
        background: url(../images/ico_select_btn_off.png) 50% 50% no-repeat;
        padding: 12px;
    }
/*.disabledAdd {
   pointer-events: auto;
   cursor: default;
   opacity: 0.6;
}*/
#topic_content_header_title {
    max-width: 90%;
    float: left;
    text-align: center;
    padding: 10px 0;
    width: 540px;
    font-size: 18px;
    font-weight: bold;
}

.topic_col_header1 { /*max-width:10%;*/
    float: left;
    text-align: center;
    padding: 10px 0;
}

.topics_col2:after, .col_wrap:after, .topics_col2 ul:after {
    content: "";
    display: table;
    clear: both;
}

.topics_col2 { /*max-width:90%; float:left; padding:10px 30px; width:600px; margin-left:80px;*/
    float: left;
    padding: 12px 10px;
    position: relative;
}

.col_wrap {
    display: block;
    clear: both;
    position: relative;
}

.topics_col2_sub1 {
    width: 540px;
    float: left;
    max-width: 90%;
}

.topics_col2_sub2 {
    width: 90px;
    float: left;
    text-align: center;
}

.topics_col2 ul.setPathNode li {
    float: left;
    padding-right: 10px;
}

.hide {
    display: none;
}

.b_border {
    border-bottom: 1px solid #CBDBE8;
}

.topics_col2_sub3 {
    padding-top: 10px;
}

.topics_col2_sub4 {
    padding-left: 40px;
}

.compactBlock {
    max-width: 900px;
}

.rangeArea input.form-text {
    border: 1px solid #D9D9D9;
    border-top: 1px solid #C0C0C0;
    font-size: 0.9em;
    height: 15px;
    outline: none;
    padding: 2px 10px 4px 10px;
    width: 24px;
    margin-right: 4px;
    float: left;
}

.apply-button-area {
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.styledCheckboxWrap, #ccArea .styledCheckboxWrap {
    padding: 5px 0 0 20px;
    display: block;
}

li {
    margin-bottom: 5px;
}

p {
    margin: 0 0 10px 0;
}

a.select-filter {
    text-indent: -9999px;
    background: none;
}

.topics_col2_sub2 a.delete-topic {
    background: url(../images/remove_filter_btn.png) 0 0 no-repeat;
    display: block;
    width: 21px;
    height: 21px;
    text-indent: -9999px;
    float: left;
    margin-left: 20px;
}

.apply-button-filter-area {
    position: absolute;
    top: 0;
    right: 0;
}

/* fixing the dropdown menu on query pages */
.queryBody > .block-inner > .block-content .titleBlock {
    z-index: 4;
}

.queryBody > .block-inner > .block-content .contentBlock {
    z-index: 2;
}

.dropdown_1column, .dropdown_2columns, .dropdown_3columns, .dropdown_4columns, .dropdown_5columns {
    margin: 0 auto !important;
}

.bullet {
    list-style-type: disc;
}

    .bullet li {
        list-style-position: outside;
        text-indent: -1.5em;
    }

        .bullet li::before {
            list-style-type: disc;
            color: red; /* or whatever color you prefer */
        }



input[type="submit"], input[type="button"] {
    background-color: #C7482E;/*#C8391A;*/
    color: #FFFFFF;
    font-size: 11pt;
    font-family: "Open Sans", Arial, Verdana, Trebuchet;
    font-weight: bold;
    min-width: 100px;
    margin-top: 10px;
    height: 44px;
    border: 0;

}

    input[type="submit"]:hover, input[type="button"]:hover {
        min-width: 100px;
        height: 44px;
        background-color: #07477D;
        color: #FFFFFF;
        font-size: 11pt;
        font-family: "Open Sans", Arial, Verdana, Trebuchet;
        font-weight: bold;
        margin-top: 10px;
        border: 0;

    }
    /* Desktops only */
@media only screen and (min-width: 1025px) {
    html {
      font-family: "desktop";
    }
    body:after {
      content: "desktop";
    }
    .slicknav_nav {display:block !important;}
    .slicknav_btn {display:none !important;}
}
